<body >

<h2  > Products List - {{childmsg}}</h2>

<table border="">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let prods of iproducts" >
      <td>{{prods.name}}</td>
      <td>{{prods.quantity}}</td>
    </tr>
  </tbody>
</table>
<br> <br>
<p><label>Enter product name :  <input #prod type="text" [(ngModel)]='prods' > </label> <label> Enter Quantity :  <input #qt type="text" [(ngModel)]='qty' ></label>
  <button type="button" (click)="AddItem(prod.value,qt.value,true)">Add Product</button> 
 </p> 
  


</body>